@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

.full_blog_post {
  background: #fff;
  max-width: 1000px;
  min-height: 550px;
  border-radius: 10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  position: relative;
}

.full_comments {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.img_pod {
  height: 110px;
  width: 110px;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  z-index: 10;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  position: absolute;
  left: -3%;
  top: -10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 10rem;
  width: 10rem;
  position: relative;
  border-radius: 100%;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.full_container_copy {
  padding: 45px 30px 45px 30px;
}

.full_h3 {
  margin: 0 0 0.5rem 0;
  color: #999;
  font-size: 2rem;
}

.full_h1 {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  color: #333;
}

.full_p {
  margin: 0 0 0.3rem 0;
  font-size: 1.8rem;
  line-height: 1.45;
  color: #333;
}

.full_author {
  font-size: 1.2rem;
  color: #333;
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-bottom: 20px;
}

.full_btn_primary {
  border: none;
  outline: none;
  max-width: 150px;
  background: #187573;
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
  color: white;
  font-size: 1.2rem;
  text-decoration: solid;
  box-shadow: 1px 10px 2rem rgba(122, 198, 203, 0.915);
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.full_btn_primary:hover {
  box-shadow: 0px 5px 1rem rgba(94, 207, 255, 0.95);
}

@media only screen and (max-width: 650px) {
  body {
    background-color: black;
  }
}
