.App {
  text-align: center;
}
.container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  font-family: "Baloo Paaji 2";
}
